*{margin: 0; padding: 0;}

body{font-family: 'Pretendard'; overflow-x: hidden;}
a{text-decoration: none; color: #333;}
a:hover{color: #ee8421;}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
   background-color: #333;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
	
}

@font-face {
    font-family: 'Goseogu-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Goseogu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

header{width: 100vw; height: 50px; position: fixed; top: 0; background-color: #ffffffc7;}
header nav{width: 30%; height: 100%; line-height: 50px; margin: 0 auto; text-align: center;}
header nav a{padding: 0 30px;  color: #333; font-size: 18px; font-family: 'Goseogu-Regular';}

section{width: 700px; height: 100vh; margin: 0 auto; text-align: center;}

.title_wrap{padding-top: 100px;}
.title_wrap > p{font-family: 'Goseogu-Regular'; font-size: 25px;}
.title_wrap >  h1{font-size: 50px; margin-top: 20px;}

.img_wrap{overflow: hidden; width: 300px; margin: 50px auto 20px; height: 300px; border-radius: 300px;}
.img_wrap img{width: 100%;}

.link_wrap { margin: 0 auto; padding-bottom: 20px;}
.link_wrap > span{padding: 0 8px; border-right: solid 1px #ccc; font-weight: 300;}
.link_wrap > span:nth-last-child(1){border-right: none;}

table{ text-align: left; margin: 50px auto;}
table tr td, table a{color: #888;}
table tr td:nth-child(2){padding: 3px 10px; font-weight: 300;}

